

.authloginpage-27-3065{
position:'' ;width: 100%; height: auto;  background-color: rgba(255,255,255,1.0);top:0px; left: 0;background:''}

.vector-27-3066{
position: absolute;left: 773.925048828125px; top: -102.60009765625px; width: 1930.1759033203125px; height: 1547.555908203125}

.group-27-3080{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(0,0,0,0.0);top:287px; left: calc( ( ( 100% - 1440px) / 2 ) + 802px);background:''}

.group-27-3081{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-27-3082{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-3083{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-27-3084{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;box-shadow: 0.0px 0.0px 25.0px rgba(0, 184, 240, 0.25);background:''}

.group-27-3085{
position:absolute ;width: 496.0px; height: 427.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;box-shadow: 0.0px 3.0px 25.0px rgba(11, 133, 193, 0.5);background:''}

.group-27-3086{
position:absolute ;width: 409.498291015625px; height: 174.4168701171875px;  background-color: rgba(255,255,255,1.0);top:120px; left: 42px;background:''}

.text-27-3087{
position: absolute;
left: 0.5721435546875px;
 top: 108.728515625px;
 width: 409.498291015625px;
 height: 65.6883544921875px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.text-27-3090{
position: absolute;
left: 0.5721435546875px;
 top: 12.01953125px;
 width: 409.498291015625px;
 height: 65.6883544921875px;
border-top-style: '';border-right-style: '';border-left-style: '';}

.group-27-3093{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 17px;background:''}

.group-27-3094{
position:absolute ;width: 78.0px; height: 25.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.text-27-3095{
position: absolute;
left: 9.0px;
 top: 2.0px;
 width: 62.0px;
 height: 19.0px;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.group-27-3096{
position:absolute ;width: 78.075439453125px; height: 34.6688232421875px;  background-color: rgba(0,0,0,0.0);top:245px; left: 359px;background:''}

.text-27-3097{
position: absolute;
left: 17.527099609375px;
 top: 5.490234375px;
 width: 60.54833984375px;
 height: 23.7208251953125px;
font-size: 9.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.vector-27-3098{
position: absolute;left: 0.0px; top: 0.0px; width: 1.274658203125px; height: 34.6688232421875}

.btn-27-3099{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 319.0px;
 top: 342.0px;
 width: 132.0px;
 height: 55.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.text-27-3102{
position: absolute;
left: 40.1689453125px;
 top: 305.916015625px;
 width: 196.4788818359375px;
 height: 28.0px;
font-size: 10.0px; color: rgba(147, 147, 147, 1.0); font-family: Gilroy-Black; font-weight: 400;
}

.text-27-3103{
position: absolute;
left: 120.0px;
 top: 53.0px;
 width: 257.0px;
 height: 29.0px;
font-size: 36.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-3104{
position:absolute ;width: 752.0px; height: 1023.0px;  background-color: '';top:5px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-27-3105{
position:absolute ;width: 508.0px; height: 473.0px;  background-color: rgba(255,255,255,1.0);top:407px; left: calc( ( ( 100% - 1440px) / 2 ) + 134px);background:''}

.img-27-3106{
position: absolute;left: 0.0px; top: 0.0px; width: 507.9998779296875px; height: 454.3602294921875px;}

.text-27-3345{
position: absolute;
left: 104.0px;
 top: 318.0px;
 width: 578.0px;
 height: 38.0px;
font-size: 16.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-27-3346{
position: absolute;
left: 104.0px;
 top: 218.0px;
 width: 538.0px;
 height: 100.0px;
font-size: 40.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-3347{
position: absolute;left: 106.0px; top: 90.0px; width: 315.874267578125px; height: 68.99951171875}