<div class="authloginpage-27-3065" name="Auth@Login Page">
 <img class="vector-27-3066" src="assets/images/Auth/login-page/vector-27_3066.svg"/>
 <div class="group-27-3080" name="Group">
  <div class="group-27-3081" name="Group">
   <div class="group-27-3082" name="Group">
    <div class="group-27-3083" name="Group">
     <div class="group-27-3084" name="Group">
      <div class="group-27-3085" name="Group">
      </div>
     </div>
    </div>
    <div class="group-27-3086" name="Group">
     <input class="text-27-3087" placeholder="Password" type="text"/>
     <input class="text-27-3090" placeholder="john.doe" type="text"/>
     <div class="group-27-3093" name="Group">
      <div class="group-27-3094" name="Group">
      </div>
      <label class="text-27-3095" type="text" value="User Name">
       User Name
      </label>
     </div>
    </div>
    <div class="group-27-3096" name="Group">
     <label class="text-27-3097" type="text" value="Show
Password">
      Show
Password
     </label>
     <img class="vector-27-3098" src="assets/images/Auth/login-page/vector-27_3098.svg"/>
    </div>
   </div>
  </div>
  <button class="btn-27-3099" type="button">
   Login
  </button>
  <label class="text-27-3102" type="text" value="Forgot username?  |  Forgot password?">
   Forgot username?  |  Forgot password?
  </label>
  <label class="text-27-3103" type="text" value="Welcome Back!">
   Welcome Back!
  </label>
 </div>
 <div class="group-27-3104" name="Group">
 </div>
 <div class="group-27-3105" name="Group">
  <img class="img-27-3106" src="assets/images/Auth/login-page/img-27_3106.png"/>
 </div>
 <label class="text-27-3345" type="text" value="All-in-one platform for the efficient prediction and management of physician and nurse scheduling">
  All-in-one platform for the efficient prediction and management of physician and nurse scheduling
 </label>
 <label class="text-27-3346" type="text" value="The first AI-driven healthcare
staffing + scheduling platform">
  The first AI-driven healthcare
staffing + scheduling platform
 </label>
 <img class="vector-27-3347" src="assets/images/Auth/login-page/vector-27_3347.svg"/>
</div>
