<div class="coreactualdatadashboard-27-3372" name="Core@Actual Data Dash board">
 <div class="group-27-3373" name="Group">
  <div class="group-27-3374" name="Group">
  </div>
  <label class="text-27-3375" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-27-3376" name="Group">
  <div class="group-27-3377" name="Group">
  </div>
  <img class="vector-27-3378" src="assets/images/Core/actual-data-dash-board/vector-27_3378.svg"/>
  <div class="group-27-3379" name="Group">
   <div class="group-27-3380" name="Group">
   </div>
   <button class="btn-27-3381" type="button">
    <img class="vector-27-3383" src="assets/images/Core/actual-data-dash-board/vector-27_3383.svg"/>
   </button>
   <div class="group-27-3386" name="Group">
    <img class="vector-27-3387" src="assets/images/Core/actual-data-dash-board/vector-27_3387.svg"/>
    <label class="text-27-3392" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <div class="group-27-3393" name="Group">
   <select class="dropdown-27-3394">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-27-3399" name="Group">
    <div class="group-27-3400" name="Group">
     <button class="btn-27-3401" type="button">
      <img class="vector-27-3403" src="assets/images/Core/actual-data-dash-board/vector-27_3403.svg"/>
     </button>
     <button class="btn-27-3406" type="button">
      <img class="vector-27-3408" src="assets/images/Core/actual-data-dash-board/vector-27_3408.svg"/>
     </button>
     <button class="btn-27-3411" type="button">
      <img class="vector-27-3413" src="assets/images/Core/actual-data-dash-board/vector-27_3413.svg"/>
     </button>
     <button class="btn-27-3420" type="button">
      <img class="vector-27-3422" src="assets/images/Core/actual-data-dash-board/vector-27_3422.svg"/>
     </button>
     <button class="btn-27-3426" type="button">
      <img class="vector-27-3428" src="assets/images/Core/actual-data-dash-board/vector-27_3428.svg"/>
     </button>
     <button class="btn-27-3432" type="button">
      <img class="vector-27-3434" src="assets/images/Core/actual-data-dash-board/vector-27_3434.svg"/>
     </button>
    </div>
    <button class="btn-27-3436" type="button">
     <img class="vector-27-3438" src="assets/images/Core/actual-data-dash-board/vector-27_3438.svg"/>
    </button>
   </div>
   <select class="dropdown-27-3445">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <button class="btn-27-3449" type="button">
   <img class="vector-27-3452" src="assets/images/Core/actual-data-dash-board/vector-27_3452.svg"/>
   Create what-if analysis
  </button>
  <img class="vector-27-3454" src="assets/images/Core/actual-data-dash-board/vector-27_3454.svg"/>
  <img class="vector-27-3463" src="assets/images/Core/actual-data-dash-board/vector-27_3463.svg"/>
  <div class="group-27-3470" name="Group">
   <div class="group-27-3471" name="Group">
    <div class="group-27-3472" name="Group">
     <select class="dropdown-27-3473">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-27-3480" name="Group">
      <img class="vector-27-3481" src="assets/images/Core/actual-data-dash-board/vector-27_3481.svg"/>
      <label class="text-27-3482" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-27-3483" name="Group">
     <select class="dropdown-27-3484">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-27-3491" name="Group">
      <img class="vector-27-3492" src="assets/images/Core/actual-data-dash-board/vector-27_3492.svg"/>
      <label class="text-27-3493" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-27-3494" name="Group">
    <div class="group-27-3495" name="Group">
     <img class="vector-27-3496" src="assets/images/Core/actual-data-dash-board/vector-27_3496.svg"/>
     <label class="text-27-3509" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-27-3510" type="button">
     <img class="vector-27-3513" src="assets/images/Core/actual-data-dash-board/vector-27_3513.svg"/>
     Complete
    </button>
    <button class="btn-27-3515" type="button">
     <img class="vector-27-3517" src="assets/images/Core/actual-data-dash-board/vector-27_3517.svg"/>
    </button>
   </div>
  </div>
  <div class="group-27-3518" name="Group">
   <div class="group-27-3519" name="Group">
   </div>
   <div class="group-27-3520" name="Group">
    <div class="group-27-3521" name="Group">
     <div class="group-27-3522" name="Group">
      <div class="group-27-3523" name="Group">
       <label class="text-27-3524" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-27-3525" name="Group">
        <label class="text-27-3526" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-27-3527" src="assets/images/Core/actual-data-dash-board/vector-27_3527.svg"/>
       </div>
      </div>
      <div class="group-27-3531" name="Group">
       <div class="group-27-3532" name="Group">
        <img class="vector-27-3533" src="assets/images/Core/actual-data-dash-board/vector-27_3533.svg"/>
        <label class="text-27-3535" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-27-3536" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-27-3537" name="Group">
       <div class="group-27-3538" name="Group">
        <img class="vector-27-3539" src="assets/images/Core/actual-data-dash-board/vector-27_3539.svg"/>
        <label class="text-27-3541" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-27-3542" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-27-3543" name="Group">
         <div class="group-27-3544" name="Group">
          <div class="group-27-3545" name="Group">
          </div>
          <label class="text-27-3546" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-27-3547" name="Group">
       <div class="group-27-3548" name="Group">
        <img class="vector-27-3549" src="assets/images/Core/actual-data-dash-board/vector-27_3549.svg"/>
        <label class="text-27-3551" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-27-3552" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-27-3553" name="Group">
       <div class="group-27-3554" name="Group">
        <div class="group-27-3555" name="Group">
         <img class="vector-27-3556" src="assets/images/Core/actual-data-dash-board/vector-27_3556.svg"/>
         <label class="text-27-3558" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-27-3559" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-27-3560" name="Group">
      <div class="group-27-3561" name="Group">
       <div class="group-27-3562" name="Group">
        <div class="group-27-3563" name="Group">
         <div class="group-27-3564" name="Group">
          <div class="group-27-3565" name="Group">
           <label class="text-27-3566" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-27-3567" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-27-3568" src="assets/images/Core/actual-data-dash-board/vector-27_3568.svg"/>
           <label class="text-27-3570" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-27-3571" name="Group">
       <div class="group-27-3572" name="Group">
        <div class="group-27-3573" name="Group">
         <label class="text-27-3574" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-27-3575" name="Group">
          <label class="text-27-3576" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-27-3577" src="assets/images/Core/actual-data-dash-board/vector-27_3577.svg"/>
        </div>
       </div>
      </div>
      <div class="group-27-3579" name="Group">
       <div class="group-27-3580" name="Group">
        <div class="group-27-3581" name="Group">
         <img class="vector-27-3582" src="assets/images/Core/actual-data-dash-board/vector-27_3582.svg"/>
         <div class="group-27-3584" name="Group">
          <div class="group-27-3585" name="Group">
           <label class="text-27-3586" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-27-3587" name="Group">
           <div class="group-27-3588" name="Group">
            <label class="text-27-3589" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-27-3590" name="Group">
       <div class="group-27-3591" name="Group">
        <div class="group-27-3592" name="Group">
         <div class="group-27-3593" name="Group">
          <label class="text-27-3594" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-27-3595" type="text" value="03">
           03
          </label>
          <img class="vector-27-3596" src="assets/images/Core/actual-data-dash-board/vector-27_3596.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-27-3598" name="Group">
       <div class="group-27-3599" name="Group">
        <div class="group-27-3600" name="Group">
         <label class="text-27-3601" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-27-3602" type="text" value="03">
          03
         </label>
         <img class="vector-27-3603" src="assets/images/Core/actual-data-dash-board/vector-27_3603.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-27-3609" src="assets/images/Core/actual-data-dash-board/vector-27_3609.svg"/>
   </div>
  </div>
  <div class="group-27-3610" name="Group">
   <div class="group-27-3611" name="Group">
    <label class="text-27-3612" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-27-3613" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-27-3614" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-27-3615" src="assets/images/Core/actual-data-dash-board/vector-27_3615.svg"/>
    <div class="group-27-3617" name="Group">
     <img class="vector-27-3618" src="assets/images/Core/actual-data-dash-board/vector-27_3618.svg"/>
     <label class="text-27-3620" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-27-3621" src="assets/images/Core/actual-data-dash-board/vector-27_3621.svg"/>
   </div>
  </div>
  <div class="group-27-3626" name="Group">
   <select class="dropdown-27-3627">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <select class="dropdown-27-3631">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-27-3635">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <button class="btn-27-3639" type="button">
    <img class="vector-27-3642" src="assets/images/Core/actual-data-dash-board/vector-27_3642.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-27-3645">
    <option selected="" value="">
     View
    </option>
   </select>
   <div class="group-27-3649" name="Group">
    <div class="group-27-3650" name="Group">
     <label class="text-27-3651" type="text" value="1D">
      1D
     </label>
     <label class="text-27-3652" type="text" value="1M">
      1M
     </label>
     <label class="text-27-3653" type="text" value="3M">
      3M
     </label>
     <label class="text-27-3654" type="text" value="6M">
      6M
     </label>
     <img class="vector-27-3655" src="assets/images/Core/actual-data-dash-board/vector-27_3655.svg"/>
     <label class="text-27-3657" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-27-3658" src="assets/images/Core/actual-data-dash-board/vector-27_3658.svg"/>
  </div>
  <img class="vector-27-3662" src="assets/images/Core/actual-data-dash-board/vector-27_3662.svg"/>
  <div class="group-27-3903" name="Group">
   <div class="group-27-3904" name="Group">
    <div class="group-27-3905" name="Group">
    </div>
    <div class="group-27-3906" name="Group">
     <div class="group-27-3907" name="Group">
     </div>
     <div class="group-27-3908" name="Group">
      <img class="vector-27-3909" src="assets/images/Core/actual-data-dash-board/vector-27_3909.svg"/>
      <label class="text-27-3913" type="text" value="Performance analysis">
       Performance analysis
      </label>
     </div>
     <div class="group-27-3914" name="Group">
      <button class="btn-27-3915" type="button">
       <img class="vector-27-3917" src="assets/images/Core/actual-data-dash-board/vector-27_3917.svg"/>
      </button>
      <button class="btn-27-3919" type="button">
       <img class="vector-27-3921" src="assets/images/Core/actual-data-dash-board/vector-27_3921.svg"/>
      </button>
     </div>
    </div>
   </div>
   <img class="vector-27-3924" src="assets/images/Core/actual-data-dash-board/vector-27_3924.svg"/>
   <div class="group-27-3946" name="Group">
    <div class="group-27-3947" name="Group">
    </div>
    <label class="text-27-3948" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
  </div>
 </div>
 <div class="group-27-3949" name="Group">
  <div class="group-27-3950" name="Group">
  </div>
  <label class="text-27-3951" type="text" value="Dash Board">
   Dash Board
  </label>
  <img class="vector-27-3952" src="assets/images/Core/actual-data-dash-board/vector-27_3952.svg"/>
  <label class="text-27-3953" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
 </div>
 <div class="group-27-3954" name="Group">
  <div class="group-27-3955" name="Group">
  </div>
  <img class="vector-27-3956" src="assets/images/Core/actual-data-dash-board/vector-27_3956.svg"/>
  <img class="vector-27-3981" src="assets/images/Core/actual-data-dash-board/vector-27_3981.svg"/>
  <button class="btn-27-3982" type="button">
   <img class="vector-27-3985" src="assets/images/Core/actual-data-dash-board/vector-27_3985.svg"/>
   Create Baseline
  </button>
  <img class="vector-27-3987" src="assets/images/Core/actual-data-dash-board/vector-27_3987.svg"/>
  <img class="vector-27-3992" src="assets/images/Core/actual-data-dash-board/vector-27_3992.svg"/>
 </div>
</div>
