

.corenotes-27-2825{
position:'' ;width: 100%; height: auto;  background-color: rgba(0,0,0,0.0);top:0px; left: 0;background:''}

.group-27-2826{
position:absolute ;width: 544.0px; height: 923.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);box-shadow: 1.0px 0.0px 15.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.group-27-2827{
position:absolute ;width: 510.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:15px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-27-2828{
position:absolute ;width: 510.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-27-2829{
position:absolute ;width: 90.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 9px;background:''}

.text-27-2830{
position: absolute;
left: 36.0px;
 top: 7.0px;
 width: 54.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2831{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.vector-27-2833{
position: absolute;left: 471.0px; top: 8.0px; width: 28.0px; height: 28.0}

.group-27-2838{
position:absolute ;width: 510.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-27-2839{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 296px;background:''}

.text-27-2840{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-2841{
position: absolute;left: 0.0px; top: 0.0px; width: 105.0px; height: 22.0}

.text-27-2846{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2847{
position:absolute ;width: 510.0px; height: 526.0px;  background-color: rgba(0,0,0,0.0);top:101px; left: calc( ( ( 100% - 1440px) / 2 ) + 17px);background:''}

.group-27-2848{
position:absolute ;width: 510.0px; height: 156.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2849{
position:absolute ;width: 510.0px; height: 156.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.img-27-2850{
position: absolute;left: 9.0px; top: 8.0px; width: 22.0px; height: 22.0px;}

.text-27-2851{
position: absolute;
left: 46.0px;
 top: 16.0px;
 width: 169.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-2852{
position: absolute;
left: 20.0px;
 top: 44.0px;
 width: 481.0px;
 height: 63.0px;
font-size: 11.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-27-2853{
position: absolute;
left: 20.0px;
 top: 121.0px;
 width: 195.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-27-2854{
position: absolute;
left: 349.0px;
 top: 121.0px;
 width: 150.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-27-2855{
position:absolute ;width: 510.0px; height: 156.0px;  background-color: rgba(0,0,0,0.0);top:171px; left: 0px;background:''}

.group-27-2856{
position:absolute ;width: 510.0px; height: 156.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-27-2857{
position:absolute ;width: 494.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 9px;background:''}

.img-27-2858{
position: absolute;left: 0.0px; top: 1.0px; width: 22.0px; height: 22.0px;}

.text-27-2859{
position: absolute;
left: 37.0px;
 top: 9.0px;
 width: 169.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2862{
position: relative; width: 18.0px; height: 18.0}

.btn-27-2860{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 432.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-27-2867{
position: relative; width: 18.0px; height: 18.0}

.btn-27-2865{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 466.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.text-27-2869{
position: absolute;
left: 20.0px;
 top: 44.0px;
 width: 481.0px;
 height: 63.0px;
font-size: 11.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-27-2870{
position: absolute;
left: 20.0px;
 top: 121.0px;
 width: 195.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-27-2871{
position: absolute;
left: 349.0px;
 top: 121.0px;
 width: 150.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-27-2872{
position:absolute ;width: 510.0px; height: 184.0px;  background-color: rgba(0,0,0,0.0);top:342px; left: 0px;background:''}

.group-27-2873{
position:absolute ;width: 510.0px; height: 184.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 4.0px 50.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.vector-27-2874{
position: absolute;left: 0.0px; top: 38.0px; width: 510.0px; height: 1.0}

.text-27-2875{
position: absolute;
left: 18.0px;
 top: 12.0px;
 width: 55.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(198, 198, 198, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-27-2876{
position: absolute;left: 0.0px; top: 38.0px; width: 510.0px; height: 45.0}

.text-27-2898{
position: absolute;
left: 15.0px;
 top: 92.0px;
 width: 37.0px;
 height: 16.0px;
font-size: 10.0px; color: rgba(198, 198, 198, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.btn-27-2899{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 433.0px;
 top: 148.0px;
 width: 67.0px;
 height: 25.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}