

.corebaselinecreationor-27-4592{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-27-4593{
position:absolute ;width: 1372.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 28px);background:''}

.group-27-4594{
position:absolute ;width: 1141.0px; height: 1096.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 248px);background:''}

.group-27-4595{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 1px;background:''}

.group-27-4596{
position:absolute ;width: 1140.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 7.0px;background:''}

.dropdown-27-4597{
position: absolute;left: 7.0px; top: 7.0px;; width: 210.0px; height: 30.0px;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-27-4600{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 892px;border-radius: 4.0px;background:''}

.group-27-4601{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-27-4602{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 84.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4603{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: 1016px;border-radius: 4.0px;background:''}

.group-27-4604{
position:absolute ;width: 117.0px; height: 31.0px;  background-color: rgba(239,242,245,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-27-4605{
position: absolute;
left: 17.0px;
 top: 11.0px;
 width: 83.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4606{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:74px; left: 0px;background:''}

.group-27-4607{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4608{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.text-27-4609{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 149.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4610{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:2px; left: 809px;background:''}

.group-27-4611{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4612{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4613{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-27-4614{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-27-4616{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4617{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4618{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-4619{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-27-4623{
position:absolute ;width: 1138.0px; height: 152.0001220703125px;  background-color: rgba(0,0,0,0.0);top:139px; left: 0px;background:''}

.group-27-4624{
position:absolute ;width: 1138.0px; height: 152.0px;  background-color: rgba(255,255,255,1.0);top:1px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4625{
position:absolute ;width: 119.017578125px; height: 83.5518798828125px;  background-color: rgba(0,0,0,0.0);top:28px; left: 29px;background:''}

.text-27-4626{
position: absolute;
left: 1.0px;
 top: 0.4481201171875px;
 width: 118.017578125px;
 height: 17.313720703125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4627{
position: absolute;left: 0.0px; top: 48.0px; width: 13.0px; height: 12.0}

.text-27-4630{
position: absolute;
left: 21.0px;
 top: 48.0px;
 width: 93.0px;
 height: 36.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-4631{
position: absolute;left: 176.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-27-4632{
position:absolute ;width: 133.017578125px; height: 63.0009765625px;  background-color: rgba(0,0,0,0.0);top:26px; left: 211px;background:''}

.text-27-4633{
position: absolute;
left: 0.0px;
 top: 0.9990234375px;
 width: 133.017578125px;
 height: 17.3839111328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4634{
position: absolute;left: 13.0px; top: 51.0px; width: 13.0px; height: 12.0}

.text-27-4637{
position: absolute;
left: 32.0px;
 top: 51.0px;
 width: 72.0px;
 height: 13.0px;
font-size: 18.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-4638{
position: absolute;left: 386.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-27-4639{
position:absolute ;width: 83.007568359375px; height: 71.83544921875px;  background-color: rgba(0,0,0,0.0);top:32px; left: 447px;background:''}

.text-27-4640{
position: absolute;
left: 0.00439453125px;
 top: 0.16455078125px;
 width: 83.007568359375px;
 height: 8.38818359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-4641{
position: absolute;
left: 17.0px;
 top: 44.0px;
 width: 39.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-27-4642{
position: absolute;left: 600.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-27-4643{
position:absolute ;width: 122.017578125px; height: 107.743896484375px;  background-color: rgba(0,0,0,0.0);top:28px; left: 638px;background:''}

.text-27-4644{
position: absolute;
left: 0.052734375px;
 top: 0.4293212890625px;
 width: 122.017578125px;
 height: 17.33251953125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-4645{
position: absolute;
left: 35.0px;
 top: 48.0px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-27-4646{
position: absolute;
left: 39.0px;
 top: 86.0px;
 width: 47.0px;
 height: 22.1732177734375px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-27-4647{
position: absolute;left: 798.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-27-4648{
position:absolute ;width: 75.017578125px; height: 108.999267578125px;  background-color: rgba(0,0,0,0.0);top:28px; left: 836px;background:''}

.text-27-4649{
position: absolute;
left: 0.0703125px;
 top: 0.000732421875px;
 width: 75.017578125px;
 height: 17.1126708984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-4650{
position: absolute;
left: 15.0px;
 top: 48.0px;
 width: 46.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-27-4651{
position: absolute;
left: 10.0px;
 top: 87.0px;
 width: 61.0px;
 height: 22.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-27-4652{
position: absolute;left: 957.0px; top: 0.0px; width: 1.0px; height: 152.0}

.group-27-4653{
position:absolute ;width: 63.0px; height: 103.0009765625px;  background-color: rgba(0,0,0,0.0);top:27px; left: 1023px;background:''}

.text-27-4654{
position: absolute;
left: 0.0px;
 top: 0.9990234375px;
 width: 62.017578125px;
 height: 17.0518798828125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-4655{
position: absolute;
left: 5.0px;
 top: 49.0px;
 width: 43.0px;
 height: 28.0px;
font-size: 40.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-27-4656{
position: absolute;
left: 0.0px;
 top: 87.0px;
 width: 63.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Light; font-weight: 400;
}

.vector-27-4657{
position: absolute;left: 0.0px; top: 307.0px; width: 1138.0px; height: 536.46142578125}

.group-27-5411{
position:absolute ;width: 176.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:890px; left: 965px;border-radius: 2.0px;background:''}

.group-27-5412{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-27-5413{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(214,214,214,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-27-5414{
position: absolute;
left: 11.0px;
 top: 15.0px;
 width: 59.0px;
 height: 10.047607421875px;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-5415{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 95px;border-radius: 2.0px;background:''}

.group-27-5416{
position:absolute ;width: 81.0px; height: 40.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-27-5417{
position: absolute;
left: 26.0px;
 top: 15.0px;
 width: 30.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}