

.corebaselinelistfinal-27-3995{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-27-3996{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-27-3997{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-27-3998{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-27-3999{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-27-4000{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-27-4001{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-27-4002{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-27-4003{
position: absolute;left: 1080.0px; top: 92.0px; width: 273.0px; height: 1}

.group-27-4004{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-27-4005{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-27-4006{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-27-4007{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-27-4008{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-27-4019{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-27-4020{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-27-4031{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-27-4032{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-27-4033{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-27-4034{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn-27-4035{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.group-27-4039{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4040{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-27-4041{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-27-4042{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-27-4044{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-27-4048{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-27-4050{
position:absolute ;width: 412.9996337890625px; height: 67.3634033203125px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-27-4051{
position:absolute ;width: 200.4854736328125px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:25px; left: 0px;background:''}

.group-27-4052{
position:absolute ;width: 84.203857421875px; height: 17.642730712890625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4053{
position: absolute;left: 3.207763671875px; top: 3.067962646484375px; width: 10.42529296875px; height: 10.42523193359375}

.text-27-4055{
position: absolute;
left: 91.4208984375px;
 top: 5.474456787109375px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4056{
position: absolute;
left: 19.2470703125px;
 top: 5.474456787109375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4057{
position:absolute ;width: 202.8912353515625px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:25px; left: 210px;background:''}

.group-27-4058{
position:absolute ;width: 75.382568359375px; height: 17.642730712890625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4059{
position: absolute;left: 3.31640625px; top: 3.068359375px; width: 10.42529296875px; height: 10.42523193359375}

.text-27-4061{
position: absolute;
left: 85.1142578125px;
 top: 5.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4062{
position: absolute;
left: 19.3544921875px;
 top: 5.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4063{
position:absolute ;width: 200.4854736328125px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:50px; left: 0px;background:''}

.group-27-4064{
position:absolute ;width: 84.203857421875px; height: 17.642730712890625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4065{
position: absolute;left: 3.207763671875px; top: 2.928466796875px; width: 10.42529296875px; height: 10.42523193359375}

.text-27-4067{
position: absolute;
left: 91.4208984375px;
 top: 5.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4068{
position: absolute;
left: 19.2470703125px;
 top: 5.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4069{
position:absolute ;width: 202.8912353515625px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:50px; left: 210px;background:''}

.group-27-4070{
position:absolute ;width: 93.0252685546875px; height: 17.642730712890625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4071{
position: absolute;left: 3.31640625px; top: 2.9287109375px; width: 10.42529296875px; height: 10.42523193359375}

.text-27-4073{
position: absolute;
left: 105.1630859375px;
 top: 5.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4074{
position: absolute;
left: 19.3544921875px;
 top: 5.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4075{
position:absolute ;width: 200.4854736328125px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4076{
position:absolute ;width: 84.203857421875px; height: 17.642730712890625px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4077{
position: absolute;left: 4.009765625px; top: 3.207763671875px; width: 9.623291015625px; height: 9.623291015625}

.text-27-4079{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4080{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4081{
position:absolute ;width: 202.8912353515625px; height: 17.642730712890625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 210px;background:''}

.vector-27-4084{
position: relative; width: 7.0px; height: 9.79998779296875}

.btn-27-4082{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.1083984375px;
 top: 0.0px;
 width: 53.0px;
 height: 17.79998779296875px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.vector-27-4090{
position: relative; width: 12.8310546875px; height: 12.8310546875}

.btn-27-4088{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 72.2830810546875px;
 top: 0.0px;
 width: 77.2757568359375px;
 height: 17.642730712890625px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

}

.group-27-4094{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-27-4095{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-27-4102{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-27-4103{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4104{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4105{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-27-4106{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-27-4108{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4109{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-27-4110{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-4111{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-27-4114{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4112{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-27-4119{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4117{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-27-4124{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4122{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-27-4133{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4131{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-27-4139{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4137{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-27-4145{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4143{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.group-27-4147{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-27-4148{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-27-4162{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4163{
position: absolute;left: 514.0px; top: 91.99993896484375px; width: 566.0px; height: 1}

.group-27-4164{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-27-4165{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-27-4166{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-27-4174{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-4177{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4175{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.text-27-4179{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-27-4180{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-27-4181{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-27-4182{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-27-4183{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-27-4188{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4191{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4189{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-27-4197{
position: relative; width: 18.0px; height: 18.0}

.btn-27-4195{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-27-4199{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-27-4200{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-27-4201{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4202{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-27-4203{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-27-4204{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-27-4208{
position: relative; width: 24.0px; height: 24.0}

.btn-27-4205{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-27-4210{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-27-4211{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-27-4212{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-27-4215{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.9761962890625}

.vector-27-4240{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-27-4241{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-27-4248{
position: relative; width: 24.0px; height: 24.0}

.btn-27-4245{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}