<div class="corebaselinelistfinal-27-3995" name="Core@Base line list Final">
 <div class="group-27-3996" name="Group">
  <div class="group-27-3997" name="Group">
  </div>
  <label class="text-27-3998" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-27-3999" name="Group">
  <div class="group-27-4000" name="Group">
  </div>
  <div class="group-27-4001" name="Group">
   <div class="group-27-4002" name="Group">
   </div>
   <img class="vector-27-4003" src="assets/images/Core/base-line-list-final/vector-27_4003.svg"/>
   <div class="group-27-4004" name="Group">
   </div>
   <div class="group-27-4005" name="Group">
    <div class="group-27-4006" name="Group">
    </div>
    <img class="vector-27-4007" src="assets/images/Core/base-line-list-final/vector-27_4007.svg"/>
    <img class="vector-27-4008" src="assets/images/Core/base-line-list-final/vector-27_4008.svg"/>
    <div class="group-27-4019" name="Group">
     <img class="vector-27-4020" src="assets/images/Core/base-line-list-final/vector-27_4020.svg"/>
    </div>
   </div>
   <div class="group-27-4031" name="Group">
    <img class="img-27-4032" src="assets/images/Core/base-line-list-final/img-27_4032.png"/>
    <img class="img-27-4033" src="assets/images/Core/base-line-list-final/img-27_4033.png"/>
    <img class="img-27-4034" src="assets/images/Core/base-line-list-final/img-27_4034.png"/>
    <button class="btn-27-4035" type="button">
     +3
    </button>
   </div>
   <div class="group-27-4039" name="Group">
    <div class="group-27-4040" name="Group">
    </div>
    <div class="group-27-4041" name="Group">
     <img class="vector-27-4042" src="assets/images/Core/base-line-list-final/vector-27_4042.svg"/>
     <img class="vector-27-4044" src="assets/images/Core/base-line-list-final/vector-27_4044.svg"/>
     <div class="checkbox-27-4048">
      <lib-quick-radiocheck [config]="checkboxconfig274048">
      </lib-quick-radiocheck>
     </div>
    </div>
   </div>
   <div class="group-27-4050" name="Group">
    <div class="group-27-4051" name="Group">
     <div class="group-27-4052" name="Group">
     </div>
     <img class="vector-27-4053" src="assets/images/Core/base-line-list-final/vector-27_4053.svg"/>
     <label class="text-27-4055" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-27-4056" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-27-4057" name="Group">
     <div class="group-27-4058" name="Group">
     </div>
     <img class="vector-27-4059" src="assets/images/Core/base-line-list-final/vector-27_4059.svg"/>
     <label class="text-27-4061" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-27-4062" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-27-4063" name="Group">
     <div class="group-27-4064" name="Group">
     </div>
     <img class="vector-27-4065" src="assets/images/Core/base-line-list-final/vector-27_4065.svg"/>
     <label class="text-27-4067" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-27-4068" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-27-4069" name="Group">
     <div class="group-27-4070" name="Group">
     </div>
     <img class="vector-27-4071" src="assets/images/Core/base-line-list-final/vector-27_4071.svg"/>
     <label class="text-27-4073" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-27-4074" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-27-4075" name="Group">
     <div class="group-27-4076" name="Group">
     </div>
     <img class="vector-27-4077" src="assets/images/Core/base-line-list-final/vector-27_4077.svg"/>
     <label class="text-27-4079" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-27-4080" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-27-4081" name="Group">
     <button class="btn-27-4082" type="button">
      <img class="vector-27-4084" src="assets/images/Core/base-line-list-final/vector-27_4084.svg"/>
     </button>
     <button class="btn-27-4088" type="button">
      <img class="vector-27-4090" src="assets/images/Core/base-line-list-final/vector-27_4090.svg"/>
     </button>
    </div>
   </div>
   <div class="group-27-4094" name="Group">
    <select class="dropdown-27-4095">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-27-4102" name="Group">
    <div class="group-27-4103" name="Group">
     <div class="group-27-4104" name="Group">
      <div class="group-27-4105" name="Group">
      </div>
      <img class="vector-27-4106" src="assets/images/Core/base-line-list-final/vector-27_4106.svg"/>
      <label class="text-27-4108" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-27-4109" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-27-4110" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-27-4111" name="Group">
    <button class="btn-27-4112" type="button">
     <img class="vector-27-4114" src="assets/images/Core/base-line-list-final/vector-27_4114.svg"/>
    </button>
    <button class="btn-27-4117" type="button">
     <img class="vector-27-4119" src="assets/images/Core/base-line-list-final/vector-27_4119.svg"/>
    </button>
    <button class="btn-27-4122" type="button">
     <img class="vector-27-4124" src="assets/images/Core/base-line-list-final/vector-27_4124.svg"/>
    </button>
    <button class="btn-27-4131" type="button">
     <img class="vector-27-4133" src="assets/images/Core/base-line-list-final/vector-27_4133.svg"/>
    </button>
    <button class="btn-27-4137" type="button">
     <img class="vector-27-4139" src="assets/images/Core/base-line-list-final/vector-27_4139.svg"/>
    </button>
    <button class="btn-27-4143" type="button">
     <img class="vector-27-4145" src="assets/images/Core/base-line-list-final/vector-27_4145.svg"/>
    </button>
   </div>
   <div class="group-27-4147" name="Group">
    <img class="vector-27-4148" src="assets/images/Core/base-line-list-final/vector-27_4148.svg"/>
    <label class="text-27-4162" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-27-4163" src="assets/images/Core/base-line-list-final/vector-27_4163.svg"/>
   <div class="group-27-4164" name="Group">
    <div class="group-27-4165" name="Group">
    </div>
    <img class="vector-27-4166" src="assets/images/Core/base-line-list-final/vector-27_4166.svg"/>
    <label class="text-27-4174" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn-27-4175" type="button">
     <img class="vector-27-4177" src="assets/images/Core/base-line-list-final/vector-27_4177.svg"/>
    </button>
   </div>
   <label class="text-27-4179" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-27-4180" name="Group">
  <div class="group-27-4181" name="Group">
  </div>
  <div class="group-27-4182" name="Group">
   <img class="vector-27-4183" src="assets/images/Core/base-line-list-final/vector-27_4183.svg"/>
   <label class="text-27-4188" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn-27-4189" type="button">
   <img class="vector-27-4191" src="assets/images/Core/base-line-list-final/vector-27_4191.svg"/>
  </button>
  <button class="btn-27-4195" type="button">
   <img class="vector-27-4197" src="assets/images/Core/base-line-list-final/vector-27_4197.svg"/>
  </button>
 </div>
 <div class="group-27-4199" name="Group">
  <div class="group-27-4200" name="Group">
  </div>
  <label class="text-27-4201" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-27-4202" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-27-4203" src="assets/images/Core/base-line-list-final/vector-27_4203.svg"/>
  <div class="group-27-4204" name="Group">
   <button class="btn-27-4205" type="button">
    <img class="vector-27-4208" src="assets/images/Core/base-line-list-final/vector-27_4208.svg"/>
    Create Base line
   </button>
  </div>
 </div>
 <div class="group-27-4210" name="Group">
  <div class="group-27-4211" name="Group">
  </div>
  <img class="vector-27-4212" src="assets/images/Core/base-line-list-final/vector-27_4212.svg"/>
  <img class="vector-27-4215" src="assets/images/Core/base-line-list-final/vector-27_4215.svg"/>
  <img class="vector-27-4240" src="assets/images/Core/base-line-list-final/vector-27_4240.svg"/>
  <img class="vector-27-4241" src="assets/images/Core/base-line-list-final/vector-27_4241.svg"/>
  <button class="btn-27-4245" type="button">
   <img class="vector-27-4248" src="assets/images/Core/base-line-list-final/vector-27_4248.svg"/>
   back to dashboard
  </button>
 </div>
</div>
