<div class="modulescreatebase-27-2741" name="Modules@create Base">
 <div class="group-27-2742" name="Group">
  <div class="group-27-2743" name="Group">
  </div>
  <label class="text-27-2744" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-27-2745" name="Group">
  <div class="group-27-2746" name="Group">
  </div>
 </div>
 <div class="group-27-2747" name="Group">
  <div class="group-27-2748" name="Group">
   <div class="group-27-2749" name="Group">
   </div>
   <img class="vector-27-2750" src="assets/images/Modules/create-base/vector-27_2750.svg"/>
   <button class="btn-27-2757" type="button">
    <img class="vector-27-2760" src="assets/images/Modules/create-base/vector-27_2760.svg"/>
    schedule type
   </button>
   <button class="btn-27-2762" type="button">
    <img class="vector-27-2765" src="assets/images/Modules/create-base/vector-27_2765.svg"/>
    Distribution type
   </button>
   <button class="btn-27-2767" type="button">
    <img class="vector-27-2770" src="assets/images/Modules/create-base/vector-27_2770.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-27-2772" name="Group">
  </div>
  <div class="group-27-2773" name="Group">
   <label class="text-27-2774" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-27-2775" src="assets/images/Modules/create-base/vector-27_2775.svg"/>
  </div>
 </div>
 <div class="group-27-2780" name="Group">
  <div class="group-27-2781" name="Group">
  </div>
  <label class="text-27-2782" type="text" value="create What-if Analysis">
   create What-if Analysis
  </label>
  <label class="text-27-2783" type="text" value="Steps to create a new What-if Analysis">
   Steps to create a new What-if Analysis
  </label>
  <img class="vector-27-2784" src="assets/images/Modules/create-base/vector-27_2784.svg"/>
 </div>
 <div class="group-27-2785" name="Group">
  <div class="group-27-2786" name="Group">
  </div>
  <img class="vector-27-2787" src="assets/images/Modules/create-base/vector-27_2787.svg"/>
  <img class="vector-27-2790" src="assets/images/Modules/create-base/vector-27_2790.svg"/>
  <img class="vector-27-2815" src="assets/images/Modules/create-base/vector-27_2815.svg"/>
  <img class="vector-27-2816" src="assets/images/Modules/create-base/vector-27_2816.svg"/>
  <button class="btn-27-2820" type="button">
   <img class="vector-27-2823" src="assets/images/Modules/create-base/vector-27_2823.svg"/>
   back to dashboard
  </button>
 </div>
</div>
