

.modulescreatewhatifanalysis-27-2351{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-27-2352{
position:absolute ;width: 1373.0px; height: 1168.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-27-2353{
position:absolute ;width: 1373.0px; height: 1168.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-27-2354{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 221px;background:''}

.group-27-2355{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-2356{
position: absolute;
left: 20.0px;
 top: 19.0px;
 width: 164.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-2357{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 829px;background:''}

.group-27-2358{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2359{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2360{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-27-2361{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-27-2363{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-2364{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-2365{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-2366{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.vector-27-2370{
position: absolute;left: 221.0px; top: 74.0px; width: 1166.0px; height: 1}

.group-27-2371{
position:absolute ;width: 1141.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:86px; left: 221px;background:''}

.group-27-2372{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2373{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-2374{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-2375{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-2376{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 134.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-2377{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2378{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2379{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-2380{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-2381{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2382{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-27-2383{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-2384{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-2385{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-2386{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 67.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-2387{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2388{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2389{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-2390{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-2391{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2392{
position:absolute ;width: 374.0px; height: 92.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-27-2393{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-2394{
position:absolute ;width: 374.0px; height: 49.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-2395{
position:absolute ;width: 337.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-2396{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-2397{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2398{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2399{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-2400{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-2401{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2402{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:210px; left: 221px;background:''}

.group-27-2403{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-27-2404{
position:absolute ;width: 864.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.radio_btn_label-27-2410{
font-size: 14.0px;
}

.radio_btn_label-27-2416{
font-size: 14.0px;
}

.radio_btn_label-27-2422{
font-size: 14.0px;
}

.group-27-2423{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:286px; left: 222px;background:''}

.group-27-2424{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-27-2425{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-27-2426{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-27-2427{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.radio_btn_label-27-2433{
font-size: 14.0px;
}

.radio_btn_label-27-2439{
font-size: 14.0px;
}

.radio_btn_label-27-2445{
font-size: 14.0px;
}

.group-27-2446{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2447{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-2448{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-27-2449{
position: absolute;left: 0.0px; top: -0.205078125px; width: 28.0px; height: 28.0}

.text-27-2458{
position: absolute;
left: 43.0px;
 top: 5.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2459{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-27-2460{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-27-2461{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2462{
position:absolute ;width: 99.0px; height: 58.816986083984375px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-27-2463{
position: absolute;
left: 7.0px;
 top: -0.205657958984375px;
 width: 84.033203125px;
 height: 19.187484741210938px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2464{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.text-27-2465{
position: absolute;
left: 39.0px;
 top: 7.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2468{
position: relative; width: 8.0px; height: 3.0}

.btn-27-2466{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-27-2471{
position: relative; width: 12.0px; height: 12.0}

.btn-27-2469{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 69.0px;
 top: -0.388671875px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-2472{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2473{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2474{
position:absolute ;width: 123.033203125px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-27-2475{
position: absolute;
left: 0.0px;
 top: -0.20587158203125px;
 width: 123.033203125px;
 height: 19.274551391601562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2476{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.text-27-2477{
position: absolute;
left: 39.0px;
 top: -0.205078125px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2480{
position: relative; width: 8.0px; height: 3.0}

.btn-27-2478{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.vector-27-2483{
position: relative; width: 12.0px; height: 12.0}

.btn-27-2481{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 57.0px;
 top: 1.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-2484{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-27-2485{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2486{
position:absolute ;width: 123.0px; height: 58.957550048828125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-27-2487{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.60546875px; width: 123.0px; height: 31.147445678710938px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-27-2487::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-27-2487{
position: absolute;left: 23.0px; top: -0.2046356201171875px; width: 76.033203125px; height: 19.169631958007812px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-27-2490{
position: absolute;left: 98.0px; top: 34.638763427734375px; width: 15.0px; height: 16.745941162109375}

.group-27-2497{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-27-2498{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2499{
position:absolute ;width: 123.0px; height: 58.93064880371094px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-27-2500{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 27.578125px; width: 123.0px; height: 31.147445678710938px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-27-2500::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-27-2500{
position: absolute;left: 30.0px; top: -0.205078125px; width: 63.033447265625px; height: 19.140594482421875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-27-2503{
position: absolute;left: 98.0px; top: 34.611419677734375px; width: 15.0px; height: 16.745941162109375}

.group-27-2510{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-27-2511{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2512{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2513{
position:absolute ;width: 224.0px; height: 56.03121566772461px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-2514{
position: absolute;
left: 44.0px;
 top: -0.234375px;
 width: 136.033203125px;
 height: 19.303573608398438px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2515{
position: absolute;left: 0.0px; top: 22.796844482421875px; width: 224.0px; height: 33.0}

.group-27-2532{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 391px;background:''}

.group-27-2533{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2534{
position:absolute ;width: 280.0px; height: 55.99891662597656px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-27-2535{
position: absolute;
left: 79.0px;
 top: -0.7957916259765625px;
 width: 122.033203125px;
 height: 15.272315979003906px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2536{
position: absolute;left: 0.0px; top: 22.203125px; width: 280.0px; height: 33.0}

.group-27-2560{
position:absolute ;width: 1142.0px; height: 446.205078125px;  background-color: rgba(0,0,0,0.0);top:636px; left: 223px;background:''}

.group-27-2561{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:292px; left: 0px;background:''}

.group-27-2562{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2563{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.vector-27-2564{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-27-2588{
position:absolute ;width: 230.9931640625px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-27-2589{
position: absolute;
left: 0.0px;
 top: 7.551300048828125px;
 width: 201.017333984375px;
 height: 8.44866943359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2590{
position: absolute;left: 206.9931640625px; top: 0.0px; width: 24.0px; height: 24.0}

.group-27-2592{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:164px; left: 1px;background:''}

.group-27-2593{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2594{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2595{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2596{
position:absolute ;width: 219.0px; height: 60.00016784667969px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-27-2597{
position:absolute ;width: 219.0px; height: 60.00016784667969px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2598{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-27-2599{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2600{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2601{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-2602{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-2603{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-2604{
position: absolute;
left: 9.0px;
 top: 10.79473876953125px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-2605{
position: absolute;left: 48.0px; top: 8.79473876953125px;; width: 51.27490234375px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-27-2608{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-27-2609{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2610{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-2611{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-2612{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-2613{
position: absolute;
left: 16.0px;
 top: 10.79473876953125px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-2614{
position: absolute;left: 48.0px; top: 8.79473876953125px;; width: 51.274658203125px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-27-2617{
position: absolute;
left: 39.0px;
 top: 0.794586181640625px;
 width: 141.02587890625px;
 height: 15.396621704101562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2618{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 289px;background:''}

.group-27-2619{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2620{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2621{
position:absolute ;width: 219.0px; height: 60.00016784667969px;  background-color: rgba(0,0,0,0.0);top:20px; left: 21px;background:''}

.group-27-2622{
position:absolute ;width: 219.0px; height: 60.00016784667969px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2623{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-27-2624{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2625{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2626{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-2627{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-2628{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-2629{
position: absolute;
left: 9.0px;
 top: 10.99981689453125px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-2630{
position: absolute;left: 48.0px; top: 8.99981689453125px;; width: 51.274658203125px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-27-2633{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-27-2634{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2635{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-2636{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-2637{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-2638{
position: absolute;
left: 16.0px;
 top: 10.99981689453125px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-2639{
position: absolute;left: 48.0px; top: 8.99981689453125px;; width: 51.274658203125px; height: 17.08087158203125px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-27-2642{
position: absolute;
left: 39.0px;
 top: 0.999664306640625px;
 width: 141.026123046875px;
 height: 15.396621704101562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2643{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-27-2644{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-27-2647{
position: relative; width: 16.0px; height: 16.0}

.btn-27-2645{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-2649{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-27-2650{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2651{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-2652{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-27-2653{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-27-2662{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-2663{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-27-2664{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-27-2665{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2666{
position:absolute ;width: 224.0px; height: 56.115516662597656px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-2667{
position: absolute;
left: 25.0px;
 top: 0.7946395874023438px;
 width: 173.032958984375px;
 height: 19.38616180419922px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2668{
position: absolute;left: 0.0px; top: 23.91015625px; width: 224.0px; height: 33.0}

.group-27-2685{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-2686{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2687{
position:absolute ;width: 280.0px; height: 56.10432434082031px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-27-2688{
position: absolute;
left: 55.0px;
 top: 0.7941131591796875px;
 width: 169.032958984375px;
 height: 19.377243041992188px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2689{
position: absolute;left: 0.0px; top: 23.8984375px; width: 280.0px; height: 33.0}

.group-27-2713{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-27-2714{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-2715{
position:absolute ;width: 224.0px; height: 56.00274658203125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-2716{
position: absolute;
left: 50.0px;
 top: 0.79412841796875px;
 width: 123.033203125px;
 height: 19.274551391601562px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-2717{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-27-2734{
position:absolute ;width: 175.0px; height: 40.0px;  background-color: rgba(0,0,0,0.0);top:407px; left: 932px;border-radius: 2.0px;background:''}

.btn-27-2735{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.0px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-27-2738{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}