<div class="coreshare-27-3002" name="Core@Share">
 <div class="group-27-3003" name="Group">
 </div>
 <div class="group-27-3004" name="Group">
  <div class="group-27-3005" name="Group">
  </div>
  <div class="group-27-3006" name="Group">
   <button class="btn-27-3007" type="button">
    Copy
   </button>
   <div class="group-27-3010" name="Group">
    <div class="group-27-3011" name="Group">
     <div class="group-27-3012" name="Group">
     </div>
    </div>
    <label class="text-27-3013" type="text" value="https://dev.polarishealth.ai/#/">
     https://dev.polarishealth.ai/#/
    </label>
   </div>
  </div>
 </div>
 <div class="group-27-3014" name="Group">
  <div class="group-27-3015" name="Group">
  </div>
  <img class="vector-27-3016" src="assets/images/Core/share/vector-27_3016.svg"/>
  <label class="text-27-3017" type="text" value="Anyone can access to the link">
   Anyone can access to the link
  </label>
  <label class="text-27-3018" type="text" value="Share link">
   Share link
  </label>
 </div>
 <div class="group-27-3019" name="Group">
  <div class="group-27-3020" name="Group">
  </div>
  <div class="group-27-3021" name="Group">
   <div class="group-27-3022" name="Group">
   </div>
   <img class="vector-27-3023" src="assets/images/Core/share/vector-27_3023.svg"/>
   <label class="text-27-3024" type="text" value="USER 01">
    USER 01
   </label>
   <img class="img-27-3025" src="assets/images/Core/share/img-27_3025.png"/>
  </div>
  <div class="group-27-3026" name="Group">
   <div class="group-27-3027" name="Group">
   </div>
   <img class="vector-27-3028" src="assets/images/Core/share/vector-27_3028.svg"/>
   <label class="text-27-3029" type="text" value="user 02">
    user 02
   </label>
   <img class="img-27-3030" src="assets/images/Core/share/img-27_3030.png"/>
  </div>
  <div class="group-27-3031" name="Group">
   <div class="group-27-3032" name="Group">
   </div>
   <img class="vector-27-3033" src="assets/images/Core/share/vector-27_3033.svg"/>
   <label class="text-27-3034" type="text" value="user 03">
    user 03
   </label>
   <img class="img-27-3035" src="assets/images/Core/share/img-27_3035.png"/>
  </div>
 </div>
 <div class="group-27-3036" name="Group">
  <div class="group-27-3037" name="Group">
  </div>
  <button class="btn-27-3038" type="button">
   ADD
  </button>
  <div class="group-27-3041" name="Group">
   <div class="group-27-3042" name="Group">
    <div class="group-27-3043" name="Group">
    </div>
   </div>
   <label class="text-27-3044" type="text" value="Select A User">
    Select A User
   </label>
  </div>
 </div>
 <label class="text-27-3045" type="text" value="Invite Users">
  Invite Users
 </label>
 <div class="group-27-3046" name="Group">
  <div class="group-27-3047" name="Group">
   <label class="text-27-3048" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <img class="vector-27-3049" src="assets/images/Core/share/vector-27_3049.svg"/>
  </div>
  <label class="text-27-3054" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-27-3055" name="Group">
  <div class="group-27-3056" name="Group">
  </div>
  <img class="vector-27-3057" src="assets/images/Core/share/vector-27_3057.svg"/>
  <label class="text-27-3062" type="text" value="Add Collaborator">
   Add Collaborator
  </label>
  <img class="vector-27-3063" src="assets/images/Core/share/vector-27_3063.svg"/>
 </div>
</div>
