

.sharecreatewhatif-27-5418{
position:'' ;width: 100%; height: auto;  background-color: rgba(23,23,54,1.0);top:0px; left: 0;background:''}

.group-27-5419{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.25);background:''}

.group-27-5420{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-5421{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-5422{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(250,253,255,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.10000000149011612);background:''}

.vector-27-5423{
position: absolute;left: 225.0px; top: 4.0px; width: 7.0px; height: 7.0}

.text-27-5424{
position: absolute;
left: 5.00048828125px;
 top: 4.0px;
 width: 101.01708984375px;
 height: 7.084186553955078px;
font-size: 10.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-5425{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(0,0,0,0.0);top:30px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);border-radius: 2.0px;background:''}

.group-27-5426{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(217,217,217,1.0);top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(44, 44, 67, 1.0);border-style:solid;background:''}

.group-27-5427{
position:absolute ;width: 208.0185546875px; height: 7.065895080566406px;  background-color: rgba(0,0,0,0.0);top:6px; left: 5px;background:''}

.group-27-5428{
position:absolute ;width: 208.0185546875px; height: 7.065895080566406px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-27-5429{
position: absolute;
left: 0.0009765625px;
 top: 1.0px;
 width: 60.0302734375px;
 height: 6.023994445800781px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-5430{
position: absolute;
left: 134.003662109375px;
 top: 0.0px;
 width: 74.015869140625px;
 height: 7.065895080566406px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-5431{
position: absolute;left: 0.0px; top: 19.066387176513672px; width: 238.0px; height: 1}

.group-27-5432{
position:absolute ;width: 217.0146484375px; height: 7.07391357421875px;  background-color: rgba(0,0,0,0.0);top:25px; left: 5px;background:''}

.group-27-5433{
position:absolute ;width: 217.0146484375px; height: 7.07391357421875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-27-5434{
position: absolute;
left: 0.0009765625px;
 top: 0.06640625px;
 width: 46.0302734375px;
 height: 6.018379211425781px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-5435{
position: absolute;
left: 133.999755859375px;
 top: 0.06640625px;
 width: 83.015869140625px;
 height: 7.07391357421875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-5436{
position: absolute;left: 0.0px; top: 38.140602111816406px; width: 238.0px; height: 1}

.group-27-5437{
position:absolute ;width: 214.9521484375px; height: 7.0721282958984375px;  background-color: rgba(0,0,0,0.0);top:44px; left: 5px;background:''}

.group-27-5438{
position:absolute ;width: 214.9521484375px; height: 7.0721282958984375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-27-5439{
position: absolute;
left: 0.0009765625px;
 top: 1.140625px;
 width: 66.0302734375px;
 height: 6.026397705078125px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-27-5440{
position: absolute;
left: 133.937255859375px;
 top: 0.140625px;
 width: 81.015869140625px;
 height: 7.0721282958984375px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-5441{
position: absolute;left: 0.0px; top: 57.210914611816406px; width: 238.0px; height: 1}

.btn-27-5442{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 93.0px;
 top: 312.0px;
 width: 79.001220703125px;
 height: 18.0101318359375px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 8.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; text-transform: uppercase; font-weight: 400;
}