<div class="sharecreatewhatif-27-5418" name="Share@createwhatif">
 <div class="group-27-5419" name="Group">
  <div class="group-27-5420" name="Group">
   <div class="group-27-5421" name="Group">
    <div class="group-27-5422" name="Group">
    </div>
    <img class="vector-27-5423" src="assets/images/Share/createwhatif/vector-27_5423.svg"/>
    <label class="text-27-5424" type="text" value="Predetermined Values">
     Predetermined Values
    </label>
   </div>
  </div>
 </div>
 <div class="group-27-5425" name="Group">
  <div class="group-27-5426" name="Group">
  </div>
  <div class="group-27-5427" name="Group">
   <div class="group-27-5428" name="Group">
    <label class="text-27-5429" type="text" value="Base Line Name">
     Base Line Name
    </label>
    <label class="text-27-5430" type="text" value="Base Line ABCD">
     Base Line ABCD
    </label>
   </div>
  </div>
  <img class="vector-27-5431" src="assets/images/Share/createwhatif/vector-27_5431.svg"/>
  <div class="group-27-5432" name="Group">
   <div class="group-27-5433" name="Group">
    <label class="text-27-5434" type="text" value="Base Line ID">
     Base Line ID
    </label>
    <label class="text-27-5435" type="text" value="6921409198-87861">
     6921409198-87861
    </label>
   </div>
  </div>
  <img class="vector-27-5436" src="assets/images/Share/createwhatif/vector-27_5436.svg"/>
  <div class="group-27-5437" name="Group">
   <div class="group-27-5438" name="Group">
    <label class="text-27-5439" type="text" value="Department type">
     Department type
    </label>
    <label class="text-27-5440" type="text" value="Emergency Room">
     Emergency Room
    </label>
   </div>
  </div>
  <img class="vector-27-5441" src="assets/images/Share/createwhatif/vector-27_5441.svg"/>
 </div>
 <button class="btn-27-5442" type="button">
  Create What-if
 </button>
</div>
