<div class="corecomments-27-2902" name="Core@Comments">
 <div class="group-27-2903" name="Group">
 </div>
 <div class="group-27-2904" name="Group">
  <div class="group-27-2905" name="Group">
  </div>
  <div class="group-27-2906" name="Group">
   <div class="group-27-2907" name="Group">
   </div>
   <img class="vector-27-2908" src="assets/images/Core/comments/vector-27_2908.svg"/>
  </div>
  <div class="group-27-2910" name="Group">
   <label class="text-27-2911" type="text" value="Comments">
    Comments
   </label>
   <img class="vector-27-2912" src="assets/images/Core/comments/vector-27_2912.svg"/>
  </div>
 </div>
 <div class="group-27-2922" name="Group">
  <div class="group-27-2923" name="Group">
   <label class="text-27-2924" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <div class="group-27-2925" name="Group">
    <div class="group-27-2926" name="Group">
    </div>
    <img class="vector-27-2927" src="assets/images/Core/comments/vector-27_2927.svg"/>
    <label class="text-27-2929" type="text" value="Base Line ID">
     Base Line ID
    </label>
   </div>
  </div>
  <label class="text-27-2930" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-27-2931" name="Group">
  <div class="group-27-2932" name="Group">
   <div class="group-27-2933" name="Group">
   </div>
   <div class="group-27-2934" name="Group">
    <img class="img-27-2935" src="assets/images/Core/comments/img-27_2935.png"/>
    <label class="text-27-2936" type="text" value="Lorem ipsum dolor sit amet">
     Lorem ipsum dolor sit amet
    </label>
    <button class="btn-27-2937" type="button">
     <img class="vector-27-2939" src="assets/images/Core/comments/vector-27_2939.svg"/>
    </button>
    <button class="btn-27-2942" type="button">
     <img class="vector-27-2944" src="assets/images/Core/comments/vector-27_2944.svg"/>
    </button>
   </div>
   <label class="text-27-2946" type="text" value="Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.">
    Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.
   </label>
   <button class="btn-27-2947" type="button">
    reply
   </button>
   <button class="btn-27-2950" type="button">
    View all replies (9)
   </button>
   <label class="text-27-2953" type="text" value=" 23rd June, 2022 at 03:50 AM">
    23rd June, 2022 at 03:50 AM
   </label>
  </div>
  <div class="group-27-2954" name="Group">
   <div class="group-27-2955" name="Group">
   </div>
   <div class="group-27-2956" name="Group">
    <img class="img-27-2957" src="assets/images/Core/comments/img-27_2957.png"/>
    <label class="text-27-2958" type="text" value="Lorem ipsum dolor sit amet">
     Lorem ipsum dolor sit amet
    </label>
   </div>
   <label class="text-27-2959" type="text" value="Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.">
    Lorem ipsum dolor sit amet consectetur. Faucibus mattis malesuada arcu vestibulum odio blandit risus facilisi mauris. Feugiat cras tristique tincidunt dignissim. Cursus commodo quam sed eget sit tristique platea. Felis tellus congue pharetra donec est. Velit massa purus eget luctus. Nullam molestie euismod mi est viverra pharetra accumsan.
   </label>
   <button class="btn-27-2960" type="button">
    reply
   </button>
   <button class="btn-27-2963" type="button">
    View all replies (9)
   </button>
   <label class="text-27-2966" type="text" value=" 23rd June, 2022 at 03:50 AM">
    23rd June, 2022 at 03:50 AM
   </label>
  </div>
  <div class="group-27-2967" name="Group">
   <div class="group-27-2968" name="Group">
   </div>
   <label class="text-27-2969" type="text" value="Type  Title....">
    Type  Title....
   </label>
   <img class="vector-27-2970" src="assets/images/Core/comments/vector-27_2970.svg"/>
   <img class="vector-27-2971" src="assets/images/Core/comments/vector-27_2971.svg"/>
   <button class="btn-27-2993" type="button">
    <img class="vector-27-2995" src="assets/images/Core/comments/vector-27_2995.svg"/>
   </button>
   <button class="btn-27-2997" type="button">
    <img class="vector-27-2999" src="assets/images/Core/comments/vector-27_2999.svg"/>
   </button>
  </div>
 </div>
</div>
