

.testbaseline-27-4250{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-27-4251{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:194px; left: calc( ( ( 100% - 1440px) / 2 ) + 297px);background:''}

.group-27-4252{
position:absolute ;width: 1151.0px; height: 1371.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-27-4253{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:550px; left: 0px;background:''}

.group-27-4254{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-27-4255{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4256{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4257{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-27-4258{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-27-4267{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4268{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-27-4269{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4270{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4271{
position:absolute ;width: 280.0px; height: 56.1043701171875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-27-4272{
position: absolute;
left: 55.0px;
 top: 0.7940673828125px;
 width: 169.0330810546875px;
 height: 19.3773193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4273{
position: absolute;left: 0.0px; top: 23.8984375px; width: 280.0px; height: 33.0}

.group-27-4297{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-27-4298{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4299{
position:absolute ;width: 224.0px; height: 56.115478515625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-4300{
position: absolute;
left: 25.0px;
 top: 0.794677734375px;
 width: 173.0330810546875px;
 height: 19.3861083984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4301{
position: absolute;left: 0.0px; top: 23.91015625px; width: 224.0px; height: 33.0}

.group-27-4318{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-27-4319{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4320{
position:absolute ;width: 224.0px; height: 56.002685546875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-4321{
position: absolute;
left: 50.0px;
 top: 0.794189453125px;
 width: 123.033203125px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4322{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-27-4339{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:164px; left: 1px;background:''}

.group-27-4340{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4341{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4342{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4343{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-27-4344{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4345{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-27-4346{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4347{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4348{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-4349{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-4350{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-4351{
position: absolute;
left: 9.0px;
 top: 10.7947998046875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-4352{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-27-4355{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-27-4356{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4357{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-4358{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-4359{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-4360{
position: absolute;
left: 16.0px;
 top: 10.7947998046875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-4361{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-27-4364{
position: absolute;
left: 39.0px;
 top: 0.794677734375px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4365{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 289px;background:''}

.group-27-4366{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4367{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4368{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:20px; left: 21px;background:''}

.group-27-4369{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4370{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-27-4371{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4372{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4373{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-4374{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-4375{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-4376{
position: absolute;
left: 9.0px;
 top: 10.9998779296875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-4377{
position: absolute;left: 48.0px; top: 8.9998779296875px; width: 51.274658203125px; height: 17.080810546875px;
}

.group-27-4380{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-27-4381{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4382{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-27-4383{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-27-4384{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-27-4385{
position: absolute;
left: 16.0px;
 top: 10.9998779296875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-27-4386{
position: absolute;left: 48.0px; top: 8.9998779296875px; width: 51.274658203125px; height: 17.080810546875px;
}

.text-27-4389{
position: absolute;
left: 39.0px;
 top: 0.999755859375px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4390{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-27-4391{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-27-4394{
position: relative; width: 16.0px; height: 16.0}

.btn-27-4392{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-4396{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:292px; left: 0px;background:''}

.group-27-4397{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4398{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.group-27-4399{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-27-4400{
position: absolute;
left: 0.0px;
 top: 7.55126953125px;
 width: 201.017333984375px;
 height: 8.44873046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4401{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.vector-27-4403{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-27-4427{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 0px;background:''}

.group-27-4428{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-27-4429{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4430{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4431{
position:absolute ;width: 224.0px; height: 56.03125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-27-4432{
position: absolute;
left: 44.0px;
 top: 0.765625px;
 width: 136.03314208984375px;
 height: 19.3035888671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4433{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-27-4450{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-27-4451{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4452{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4453{
position:absolute ;width: 123.033203125px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-27-4454{
position: absolute;
left: 0.0px;
 top: 0.794189453125px;
 width: 123.03314208984375px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4455{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.vector-27-4458{
position: relative; width: 8.0px; height: 3.0}

.btn-27-4456{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.text-27-4459{
position: absolute;
left: 39.0px;
 top: 0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4462{
position: relative; width: 12.0px; height: 12.0}

.btn-27-4460{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 57.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-4463{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-27-4464{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4465{
position:absolute ;width: 123.0px; height: 58.95751953125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-27-4466{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-27-4466::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-27-4466{
position: absolute;left: 23.0px; top: 0.79541015625px; width: 76.0333251953125px; height: 19.1695556640625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-27-4469{
position: absolute;left: 98.0px; top: 35.6387939453125px; width: 15.0px; height: 16.7459716796875}

.group-27-4476{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-27-4477{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4478{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-27-4479{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-27-4479::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-27-4479{
position: absolute;left: 30.0px; top: 0.794921875px; width: 63.0333251953125px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-27-4482{
position: absolute;left: 98.0px; top: 35.6114501953125px; width: 15.0px; height: 16.7459716796875}

.group-27-4489{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-27-4490{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-27-4491{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-27-4492{
position: absolute;
left: 7.0px;
 top: 0.7943115234375px;
 width: 84.0333251953125px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4493{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.vector-27-4496{
position: relative; width: 8.0px; height: 3.0}

.btn-27-4494{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.text-27-4497{
position: absolute;
left: 39.0px;
 top: 8.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4500{
position: relative; width: 12.0px; height: 12.0}

.btn-27-4498{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 69.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-27-4501{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-27-4502{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4503{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4504{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-27-4505{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-27-4514{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4515{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-27-4516{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-27-4517{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.radio_btn_label-27-4523{
font-size: 14.0px;
}

.radio_btn_label-27-4529{
font-size: 14.0px;
}

.radio_btn_label-27-4535{
font-size: 14.0px;
}

.group-27-4536{
position:absolute ;width: 1141.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-27-4537{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4538{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4539{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4540{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4541{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-4542{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4543{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-4544{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-4545{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-4546{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-4547{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-27-4548{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-4549{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-4550{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-4551{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-4552{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4553{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4554{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4555{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-4556{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-27-4557{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-27-4558{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-27-4559{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-27-4560{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-27-4561{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-4562{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4563{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4564{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4565{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-27-4566{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-27-4567{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-27-4568{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-27-4569{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-27-4570{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.text-27-4571{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-27-4572{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 829px;background:''}

.group-27-4573{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4574{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-27-4575{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-27-4576{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-27-4578{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4579{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-27-4580{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-27-4581{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-27-4585{
position:absolute ;width: 175.0px; height: 40.047607421875px;  background-color: rgba(0,0,0,0.0);top:1146px; left: calc( ( ( 100% - 1440px) / 2 ) + 1266px);border-radius: 2.0px;background:''}

.btn-27-4586{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-27-4589{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}