<div class="testbaseline-27-4250" name="test@Baseline">
 <div class="group-27-4251" name="Group">
  <div class="group-27-4252" name="Group">
  </div>
  <div class="group-27-4253" name="Group">
   <div class="group-27-4254" name="Group">
    <div class="group-27-4255" name="Group">
     <div class="group-27-4256" name="Group">
     </div>
     <div class="group-27-4257" name="Group">
      <img class="vector-27-4258" src="assets/images/test/baseline/vector-27_4258.svg"/>
      <label class="text-27-4267" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-27-4268" name="Group">
     <div class="group-27-4269" name="Group">
      <div class="group-27-4270" name="Group">
      </div>
      <div class="group-27-4271" name="Group">
       <label class="text-27-4272" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-27-4273" src="assets/images/test/baseline/vector-27_4273.svg"/>
      </div>
     </div>
     <div class="group-27-4297" name="Group">
      <div class="group-27-4298" name="Group">
      </div>
      <div class="group-27-4299" name="Group">
       <label class="text-27-4300" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-27-4301" src="assets/images/test/baseline/vector-27_4301.svg"/>
      </div>
     </div>
     <div class="group-27-4318" name="Group">
      <div class="group-27-4319" name="Group">
      </div>
      <div class="group-27-4320" name="Group">
       <label class="text-27-4321" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-27-4322" src="assets/images/test/baseline/vector-27_4322.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-27-4339" name="Group">
    <div class="group-27-4340" name="Group">
     <div class="group-27-4341" name="Group">
      <div class="group-27-4342" name="Group">
      </div>
      <div class="group-27-4343" name="Group">
       <div class="group-27-4344" name="Group">
        <div class="group-27-4345" name="Group">
         <div class="group-27-4346" name="Group">
          <div class="group-27-4347" name="Group">
           <div class="group-27-4348" name="Group">
           </div>
           <div class="group-27-4349" name="Group">
            <div class="group-27-4350" name="Group">
            </div>
            <label class="text-27-4351" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-27-4352">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-27-4355" name="Group">
          <div class="group-27-4356" name="Group">
           <div class="group-27-4357" name="Group">
           </div>
           <div class="group-27-4358" name="Group">
            <div class="group-27-4359" name="Group">
            </div>
            <label class="text-27-4360" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-27-4361">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-27-4364" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-27-4365" name="Group">
     <div class="group-27-4366" name="Group">
      <div class="group-27-4367" name="Group">
      </div>
      <div class="group-27-4368" name="Group">
       <div class="group-27-4369" name="Group">
        <div class="group-27-4370" name="Group">
         <div class="group-27-4371" name="Group">
          <div class="group-27-4372" name="Group">
           <div class="group-27-4373" name="Group">
           </div>
           <div class="group-27-4374" name="Group">
            <div class="group-27-4375" name="Group">
            </div>
            <label class="text-27-4376" type="text" value="From">
             From
            </label>
           </div>
           <div class="dropdown-27-4377">
            <lib-quick-select [config]="quickSelectConfig274377">
            </lib-quick-select>
           </div>
          </div>
         </div>
         <div class="group-27-4380" name="Group">
          <div class="group-27-4381" name="Group">
           <div class="group-27-4382" name="Group">
           </div>
           <div class="group-27-4383" name="Group">
            <div class="group-27-4384" name="Group">
            </div>
            <label class="text-27-4385" type="text" value="To">
             To
            </label>
           </div>
           <div class="dropdown-27-4386">
            <lib-quick-select [config]="quickSelectConfig274386">
            </lib-quick-select>
           </div>
          </div>
         </div>
        </div>
        <label class="text-27-4389" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-27-4390" name="Group">
     <div class="group-27-4391" name="Group">
     </div>
     <button class="btn-27-4392" type="button">
      <img class="vector-27-4394" src="assets/images/test/baseline/vector-27_4394.svg"/>
     </button>
    </div>
   </div>
   <div class="group-27-4396" name="Group">
    <div class="group-27-4397" name="Group">
    </div>
    <div class="group-27-4398" name="Group">
     <div class="group-27-4399" name="Group">
      <label class="text-27-4400" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-27-4401" src="assets/images/test/baseline/vector-27_4401.svg"/>
     </div>
     <img class="vector-27-4403" src="assets/images/test/baseline/vector-27_4403.svg"/>
    </div>
   </div>
  </div>
  <div class="group-27-4427" name="Group">
   <div class="group-27-4428" name="Group">
    <div class="group-27-4429" name="Group">
     <div class="group-27-4430" name="Group">
     </div>
     <div class="group-27-4431" name="Group">
      <label class="text-27-4432" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-27-4433" src="assets/images/test/baseline/vector-27_4433.svg"/>
     </div>
    </div>
   </div>
   <div class="group-27-4450" name="Group">
    <div class="group-27-4451" name="Group">
     <div class="group-27-4452" name="Group">
     </div>
     <div class="group-27-4453" name="Group">
      <label class="text-27-4454" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-27-4455" name="Group">
       <button class="btn-27-4456" type="button">
        <img class="vector-27-4458" src="assets/images/test/baseline/vector-27_4458.svg"/>
       </button>
       <label class="text-27-4459" type="text" value="3">
        3
       </label>
       <button class="btn-27-4460" type="button">
        <img class="vector-27-4462" src="assets/images/test/baseline/vector-27_4462.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-27-4463" name="Group">
     <div class="group-27-4464" name="Group">
     </div>
     <div class="group-27-4465" name="Group">
      <br/>
      <label class="calendar-27-4466" for="html">
       start date
      </label>
      <input class="input-27-4466" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-27-4469" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/23dc9690-3d2d-46d7-9b2f-228799ecb710"/>
     </div>
    </div>
    <div class="group-27-4476" name="Group">
     <div class="group-27-4477" name="Group">
     </div>
     <div class="group-27-4478" name="Group">
      <br/>
      <label class="calendar-27-4479" for="html">
       end date
      </label>
      <input class="input-27-4479" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-27-4482" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/1f0e10c6-aac9-4c0c-b3bd-43281ac5a8c0"/>
     </div>
    </div>
    <div class="group-27-4489" name="Group">
     <div class="group-27-4490" name="Group">
     </div>
     <div class="group-27-4491" name="Group">
      <label class="text-27-4492" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-27-4493" name="Group">
       <button class="btn-27-4494" type="button">
        <img class="vector-27-4496" src="assets/images/test/baseline/vector-27_4496.svg"/>
       </button>
       <label class="text-27-4497" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-27-4498" type="button">
        <img class="vector-27-4500" src="assets/images/test/baseline/vector-27_4500.svg"/>
       </button>
      </div>
     </div>
    </div>
   </div>
   <div class="group-27-4501" name="Group">
    <div class="group-27-4502" name="Group">
     <div class="group-27-4503" name="Group">
     </div>
     <div class="group-27-4504" name="Group">
      <img class="vector-27-4505" src="assets/images/test/baseline/vector-27_4505.svg"/>
      <label class="text-27-4514" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
    <div class="group-27-4515" name="Group">
     <div class="group-27-4516" name="Group">
     </div>
     <div class="group-27-4517" name="Group">
      <input name="radio_btn_name-27-4517" type="radio"/>
      <label class="radio_btn_label-27-4523" for="html">
       TRADITIONAL
      </label>
      <input name="radio_btn_name-27-4517" type="radio"/>
      <label class="radio_btn_label-27-4529" for="html">
       HYBRID
      </label>
      <input name="radio_btn_name-27-4517" type="radio"/>
      <label class="radio_btn_label-27-4535" for="html">
       OPTIMAL
      </label>
     </div>
    </div>
   </div>
  </div>
  <div class="group-27-4536" name="Group">
   <div class="group-27-4537" name="Group">
    <div class="group-27-4538" name="Group">
     <div class="group-27-4539" name="Group">
      <div class="group-27-4540" name="Group">
      </div>
      <div class="group-27-4541" name="Group">
       <label class="text-27-4542" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
    <div class="group-27-4543" name="Group">
     <div class="group-27-4544" name="Group">
     </div>
     <div class="group-27-4545" name="Group">
      <label class="text-27-4546" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
   </div>
   <div class="group-27-4547" name="Group">
    <div class="group-27-4548" name="Group">
     <div class="group-27-4549" name="Group">
     </div>
     <div class="group-27-4550" name="Group">
      <label class="text-27-4551" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-27-4552" name="Group">
     <div class="group-27-4553" name="Group">
      <div class="group-27-4554" name="Group">
      </div>
      <div class="group-27-4555" name="Group">
       <label class="text-27-4556" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-27-4557" name="Group">
    <div class="group-27-4558" name="Group">
     <div class="group-27-4559" name="Group">
     </div>
     <div class="group-27-4560" name="Group">
      <label class="text-27-4561" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-27-4562" name="Group">
     <div class="group-27-4563" name="Group">
      <div class="group-27-4564" name="Group">
      </div>
      <div class="group-27-4565" name="Group">
       <label class="text-27-4566" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-27-4567" src="assets/images/test/baseline/vector-27_4567.svg"/>
  <div class="group-27-4568" name="Group">
   <div class="group-27-4569" name="Group">
   </div>
   <div class="group-27-4570" name="Group">
    <label class="text-27-4571" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
   <div class="group-27-4572" name="Group">
    <div class="group-27-4573" name="Group">
     <div class="group-27-4574" name="Group">
      <div class="group-27-4575" name="Group">
      </div>
      <img class="vector-27-4576" src="assets/images/test/baseline/vector-27_4576.svg"/>
      <label class="text-27-4578" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-27-4579" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-27-4580" type="text" value="Private">
     Private
    </label>
    <img class="vector-27-4581" src="assets/images/test/baseline/vector-27_4581.svg"/>
   </div>
  </div>
 </div>
 <div class="group-27-4585" name="Group">
  <button class="btn-27-4586" type="button">
   Cancel
  </button>
  <button class="btn-27-4589" type="button">
   Next
  </button>
 </div>
</div>
